@import "base";

a:hover {
  font-weight: 500 !important;
}

#footer {
  padding: 1rem;
  font-size: 0.7rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}